header {
  @include flex(flex, column, center, center, nowrap);
  @include box(100vw, 100vh);
  @include outline;

  h1 {
    font-family: 'font-primary';
    font-size: 2rem;
  }

  .software-dev {
    @include flex(flex, row, center, center, nowrap);
    p {
      font-family: 'font-secondary';
      font-size: 1.6rem;
      opacity: 0.9;
    }

    img {
      margin: 0 0.5rem;
      width: 1.8rem;
    }
  }

  .social-cont {
    @include flex(flex, row, center, center, nowrap);

    img {
      width: 1.6rem;
      height: auto;
      opacity: 0.7;
    }

    img:hover {
      opacity: 0.9;
    }
  }
}