header {
  @include flex(flex, row, space-between, center, nowrap);
  @include box(100vw, 8vh);
  border-bottom: 1px solid $color-grey;

  .img-logo {
    height: 3vh;
    margin-left: 1.25rem;
  }

  .img-ham {
    height: 3vh;
    margin-right: 1.25rem;

    @include screen('tablet') {
      display: none;
    }
  }

  ul {
    display: none;

    @include screen('tablet') {
      @include flex(flex, row, space-between, center, nowrap);
      width: 40vw;
      margin-right: 1.25rem;
      font-family: 'font-tertiary';
      color: $color-grey;
    }

    @include screen('desktop') {
      width: 30vw;
    }

    @include screen('xldesktop') {
      width: 25vw;
    }

    li {
      transform: translateY(4px);
      font-size: 1.2rem;
    }

    li:hover {
      color: $color-focus1;
    }
  }
}