main {
  @include flex(flex, column, center, center, nowrap);
  @include box(100vw, 92vh);
  position: relative;
  bottom: 5rem;

  .a__cont {
    @include flex(flex, column, space-evenly, center, nowrap);

    .r__logo__cont {
      width: 22%;
      height: auto;
      margin: $spacing-xl;

      // img
    }

    .titles__cont {
      @include flex(flex, column, center, center, nowrap);

      h1 {
        font-family: 'font-primary';
        font-size: $font-size-md;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
        margin: $spacing-md;
        text-align: center;
      }

      p {
        font-family: 'font-tertiary';
        font-size: $font-size-b;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
        color: $color-grey;
      }
    }
  }

  .b__cont {
    @include flex(flex, column, space-evenly, center, nowrap);

    .social__links__cont {
      @include flex(flex, row, center, center, nowrap);
      margin: $spacing-xl;

      img {
        width: 12%;
        height: auto;
        margin: 0 $spacing-lg;
      }
    }

    // button
  }
}