.btn {
  display: inline-flex;
  background-color: $color-button;
  border: 0;
  border-radius: 2rem;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  font-family: 'font-primary';
  font-size: $font-size-b;
  justify-content: center;
  padding: 1rem 2.8rem;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;

  @include screen('tablet') {
    @include btn--large;
  }
}

button:hover { 
  background-color: $color-focus1;
}

button:active {
  background: $color-focusoff;
}