$breakpoint-mobil: 375px;       // Alapértelmezett mobil szélesség
$breakpoint-tablet: 768px;      // 768-tól
$breakpoint-desktop: 1024px;    // 1024-töl
$breakpoint-xldesktop: 1280px;  // 1280-tól

/*
  375-480 : Nagyobb telefonok iPhone 11-13 pro Max
  768-1024 : Közepes méretü tabletek, iPad-ek, kissebb laptopok
  1024-1440 : Közepes és nagyobb kijelzők. Sok nagy monitor és a modern nagyfelbontású laptopok ebbe a sávba esnek.
  1440+ : Ultra széles monitorok, nagyfelbontású desktopok és professzionális munkára használt kijelzők.

  375x812 : Ez a felbontás sok felhasználó eszközén jelenik meg, így érdemes alapértelmezett mobil méretként kezelni a mobil-first design során.
  768x1024 : A legtöbb fejlesztő ezt a felbontást használja referenciaként, amikor tablet-nézetet tervez.
  1024x768 : nagyon elterjedt a tabletek fekvő módjában, az egyik átmeneti méret a tabletek és asztali monitorok között.
  1280x800 : A reszponzív designban ez az egyik legjellemzőbb szélesség, ami az asztali (desktop) felhasználói élmény kezdetét jelzi, miközben a tablet nézetek is közel állnak hozzá.
  1440x900 : 1440px általában az egyik legnagyobb kijelzők közé tartozik, amit érdemes figyelembe venni.
*/

// MOBILE FIRST MEDIA QUERY
@mixin screen($size) {
  @if $size == 'tablet' {
    @media screen and (min-width: $breakpoint-tablet) {
      @content;
    }
  }
  @else if $size == 'desktop' {
    @media screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  }
  @else if $size == 'xldesktop' {
    @media screen and (min-width: $breakpoint-xldesktop) {
      @content;
    }
  }
}

/*
@include screen(desktop) {
  width: 80vw;
}
*/