// FLEXBOX
@mixin flex($display, $flex-direction, $justify-content, $align-items, $flex-wrap) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

// BOX
@mixin box($width, $height) {
  width: $width;
  height: $height;
}

// FONT-SIZE
@mixin font-size($font-size, $letter-spacing, $line-height) {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin outline() {
  outline: 1px dashed yellow;
}

@mixin btn--large() {
  padding: 1.2rem 3.4rem;
  font-size: $font-size-xs;
}

@mixin title() {
  font-family: 'font-primary';
  font-size: $font-size-md;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  margin: $spacing-md 0;
  text-align: center;
}

@mixin subtitle() {
  font-family: 'font-tertiary';
  font-size: $font-size-b;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  color: $color-grey;

  span {
    color: $color-focus1;
  }
}