// SCHEMA
@mixin scheme1 {
  background-color: #dad7cd;
}

@mixin scheme2 {
  background-color: #a3b18a;
}

@mixin scheme3 {
  background-color: #588157;
}

@mixin scheme4 {
  background-color: #3a5a40;
}