// FLEXBOX
@mixin flex($display, $flex-direction, $justify-content, $align-items, $flex-wrap) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

// SIZE
@mixin size($width, $height) {
  width: $width;
  height: $height;
}