// FONT-SIZE
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// SPACING
$spacing-sm: 0.2rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;
$spacing-xxl: 5rem;