$color-basic: whitesmoke;
$color-shadow: darkslategrey;

$color-primary: #128FC8; // background top)
$color-secondary: #00468B; // background bottom)
$color-tertiary: #FFBD33; // links
$color-quinary: #C4E8FE; // links unchecked
$color-fifth: #219EBC;
$color-sixth: #166d82;