$font-primary: "../assets/fonts";
@font-face {
  src: url(#{$font-primary}/lexiamono-light.ttf);
  font-family: 'font-primary';
}

$font-secondary: "../assets/fonts";
@font-face {
  src: url(#{$font-secondary}/adventure.otf);
  font-family: 'font-secondary';
}