$font-primary: "../assets/fonts";
@font-face {
  src: url(#{$font-primary}/montserrat-arabicsemibold.otf);
  font-family: 'font-primary';
}

$font-secondary: "../assets/fonts";
@font-face {
  src: url(#{$font-secondary}/antonio-variablefont.ttf);
  font-family: 'font-secondary';
}